.new-task-container {
    background-color: red;
    animation-name: newTask;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.backdrop {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    background-color: rgba(0, 0, 0, 0.8);
}

.task-form-container {
    min-width: 500px;
    width: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: none;
}

@keyframes newTask {
    from {opacity: 0;}
    to   {opacity: 1;}
}