.task-list-card {
    min-height: 50vh;
}

.task-list-container {
    width: 100%;
}

.task-list-help-container {
    width: 80%; 
    margin: auto;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    animation-name: taskListHelp;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.no-task-guide {
    font-size: 1.2rem;
    margin: 2rem auto;
    color: white;
    text-align: justify;
}

/* ::-webkit-scrollbar {
    width: 20px;
}
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    border: 2px solid black;
} */

@keyframes taskListHelp {
    from {opacity: 0;}
    to {opacity: 1;}
}