.task-item-container  {
    margin: 0.5rem auto;
    width: 90%;
    background:#1f1d36;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    animation-name: taskListHelp;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
.task-item-container-selected {
    border: 0;
    border-left: 10px solid rgb(0, 255, 0);
    transition: 0.2s;
}
.task-item-container-done {
    background-color: rgb(133, 130, 130);
    border: 2px solid rgb(27, 27, 27);
    color: white;
    transition: 0.2s;
}
.task-item-container-done-selected {
    background-color: rgb(133, 130, 130);
    border-left: 10px solid rgb(27, 27, 27);
}

.task-item-checkbox {
    font-size: 0.7rem;
    min-width: 40px;
    width: 5%;
    color: rgb(0, 78, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox {
    color: rgb(0, 255, 0);
    font-size: 200%;
}

.task-data-container {
    height: auto;
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
}

.task-title {
    width: 75%;
    margin: 0.5rem;
    font-size: 1.5rem;
    border: 0;
}

.task-title::selection {
    background: none;
}

.task-btn-container {
    width: 25%;
    margin: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.task-item-btn {
    font-size: 1rem;
    margin: 0 0.5rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.task-item-days-left{
    background-color: darkorchid;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}
.task-item-btn::selection{
    background: none;
}
.task-item-days-left::selection{
    background: none;
}

@keyframes taskListHelp {
    from {opacity: 0; background: transparent;}
    to {opacity: 1;}
}