.task-list-card {
    min-height: 60vh;
    padding-bottom: 5rem;
}

.task-list-container {
    width: 100%;
}

.task-list-help-container {
    width: 80%; 
    margin: auto;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    animation-name: taskListHelp;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.no-task-guide {
    font-size: 1.2rem;
    margin: 2rem auto;
    color: white;
    text-align: justify;
}

@keyframes taskListHelp {
    from {opacity: 0;}
    to {opacity: 1;}
}