form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: left;
}

.form-input__control {
    margin: 1rem;
}

.form-container label {
    display: block;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    height: 40px;
    margin: 1rem auto;
    border-radius: 5px;
    background: white;
    border: 0;
    font-size: 1.2rem;
    padding: 10px;
    transition: 0.2s;
}
.invalid-task-title {
    font-size: 1rem;
    text-align: center;
    color: red;
    pointer-events: none;
    animation-name: invalid;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

.btn {
    box-sizing: border-box;
    padding-left: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn-tag {
    cursor: pointer;
    margin: 1rem;
    background-color: limegreen;
    border: 2px solid green;
    border-radius: 12px;
    transition: 0.2s;
}
.btn-disabled {
    background-color: #ccc;
    border: 2px solid black;
}
.btn-tag-hover:hover {
    background-color: green;
    border: 2px solid white;
}

.btn-tag h1 {
    margin: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.btn-disabled h1 {
    color: black;
}

@media screen and (max-width: 786px) {
    form{
        flex-direction: column;
        justify-content: left;
    }
    .btn {
        width: auto;
        height: auto;
        justify-content: right;
    }

    .btn-tag {
        width: 100px;
        height: 50px;
    }

    .btn-tag h1{
        font-size: 1rem;
    }
}

@keyframes invalid {
    from {opacity: 0.75; border: 1px solid red;}
    to   {opacity: 1; border: 1px solid red;}
}