.task-header-card {
    height: 3rem;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.header-title {
    color: rgb(255, 255, 255);
    text-align: left;
    width: 50%;
    padding-left: 1rem;
}

.header-button-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
}

.header-button {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0 0.5rem;
    border: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: 0;
    background: transparent;
}
.header-button{
    font-size: 2rem;
}
.header-button:hover {
    color: rgb(0, 39, 0);
}
